* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    border: 5px solid black ;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row;             ค่าเริ่มต้น row อยู่ซ้าย
       flex-direction: row-reverse;     row ขวา
       flex-direction: column;          colum อยู่บน
       flex-direction: column-reverse;  colum อยู่ล่าง 
    */
    flex-wrap: wrap-reverse;

    /*  flex-wrap: nowrap;          ค่าเริ่มต้น
        flex-wrap: wrap;            ตัด บรรทัดที่เกินลงล่าง
        flex-wrap: wrap-reverse;    ตัด บรรทัดที่เกินขึ้นบน
    */  
}

.flex-items{
    width: 100px;
 
    background: green;
    color: #fff;
    padding: 2rem ;
    border: 2px solid red;
}

/* 5-flex-flow.html */
.flex-flow-container{
    border: 5px solid black;
    height: 500px;
    display: flex;

    flex-flow: row wrap;
    /* 
        flex-flow: flex-direction flex-wrap;
    */
}

/* 6-Justify-content.html */
/* 
    justify-content: flex-start;        ชิดซ้าย
    justify-content: flex-end;          ชิดขวา
    justify-content: center;            ตรงกลาง
    justify-content: space-between;     ตัวแรกชิดซ้าย  ตัวสุดท้ายชิดขวา ส่วนตรงกลางจะแบ่ง Space เท่าๆกัน (ระยะห่าง)
    justify-content: space-around;      เหมือนกับ Space-between แต่จะแบ่ง Space ซ้ายขวาเท่าๆกัน
    justify-content: space-evenly;      เหมือนกับ space-around แต่จะมีระยะ Space มากกว่า space-around 
*/

.flex-container-justify-content{
    border: 5px solid black;
    height: 500px;
    display: flex;

    justify-content: space-around;
}

.flex-items-justify{
    width: 100px;
    height: 100px;
    background: green;
    color: #fff;
    padding: 2rem ;
    border: 2px solid red;
}

/* 7-align-items.html */
.flex-container-align-items{
    border: 5px solid black;
    height: 500px;
    display: flex;

}

.flex-align-items{
    border: 5px solid black;
    height: 100px;
    background: green;
    color: #fff;
    padding: 2rem;
    border: 2px solid red;
}

