* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container{
    border: 5px solid black ;
    height: 500px;
    display: flex;
    flex-direction: row;
    /* flex-direction: row;             ค่าเริ่มต้น row อยู่ซ้าย
       flex-direction: row-reverse;     row ขวา
       flex-direction: column;          colum อยู่บน
       flex-direction: column-reverse;  colum อยู่ล่าง 
    */
    flex-wrap: wrap-reverse;

    /*  flex-wrap: nowrap;          ค่าเริ่มต้น
        flex-wrap: wrap;            ตัด บรรทัดที่เกินลงล่าง
        flex-wrap: wrap-reverse;    ตัด บรรทัดที่เกินขึ้นบน
    */  
}

.flex-items{
    width: 100px;
 
    background: green;
    color: #fff;
    padding: 2rem ;
    border: 2px solid red;
}

/* 5-flex-flow.html */
.flex-flow-container{
    border: 5px solid black;
    height: 500px;
    display: flex;

    flex-flow: row wrap;
    /* 
        flex-flow: flex-direction flex-wrap;
    */
}

/* 6-Justify-content.html */
/* 
    justify-content: flex-start;        ชิดซ้าย
    justify-content: flex-end;          ชิดขวา
    justify-content: center;            ตรงกลาง
    justify-content: space-between;     ตัวแรกชิดซ้าย  ตัวสุดท้ายชิดขวา ส่วนตรงกลางจะแบ่ง Space เท่าๆกัน (ระยะห่าง)
    justify-content: space-around;      เหมือนกับ Space-between แต่จะแบ่ง Space ซ้ายขวาเท่าๆกัน
    justify-content: space-evenly;      เหมือนกับ space-around แต่จะมีระยะ Space มากกว่า space-around 
*/

.flex-container-justify-content{
    border: 5px solid black;
    height: 500px;
    display: flex;

    justify-content: space-around;
}

.flex-items-justify{
    width: 100px;
    height: 100px;
    background: green;
    color: #fff;
    padding: 2rem ;
    border: 2px solid red;
}


/* 7-align-items.html */
    /* 
        จัดแยวตาม แนวนอน
        align-items: stretch; 
        align-items: flex-start;  ชิดซ้าย บน
        align-items: flex-start;  ชิดซ้าย ล่าง
        align-items: center;      ตรงกลาง
        align-items: baseline;    ขยายตามตัวอักษรที่ใหญ่
    */

.container-align-items{
    border: 5px solid black;
    height: 500px;
    display: flex;

    align-items: baseline;
}

.flex-align-items{
    width: 200px;
    height: 100px;
    background: green;
    color: #fff;
    padding: 2rem ;
    border: 2px solid red;
}

/* 8-align-content.html */
/* 
    จัดแนวตาม แนวตั้ง
    คำสั่ง align-content ต้องใช้ flex-wrap: wrap; ด้วยไม่งัลกำสั่ง Flex-content จะใช้งานไม่ได้
            align-content: flex-start;
            flex-wrap: wrap;

            align-content: flex-start;      ชิดซ้าย บน
            align-content: flex-end;        ชิดซ้าย ล่าง    
            align-content: center;          ตรงกลาง 
            align-content: stretch;         ชิดซ้ายบน แต่แบ่งช่องระหว่าง
            align-content: space-between;   ชิดบนล่าง
            align-content: space-around;


*/

.container-align-content{
    border: 5px solid black;
    height: 500px;
    display: flex;

    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
}
.align-content-items{
   width: 100px;
   height: 100px;
   color: #000;
   background: rgb(248, 167, 167);
   border: 2px solid red;
   padding: 2rem;
}

/* 9-oder.html */

.container-oder{
    border: 5px solid black;
    height: 500px;
    display: flex;

}

.oder-items{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 2rem;
    color:black;
    background: rgb(164, 164, 245);
}

/* 
    oder-items:nth-child(1){
        oder: 4;
    }
        การกำหนด Items ตัวที่ 1 ให้มาอยู่ในตำแหน่งตัวที่ 4 
 */
.oder-items:nth-child(1) {
    order: 4;
}
.oder-items:nth-child(2){
    order: 3;
}
.oder-items:nth-child(3){
    order: 2;
}
.oder-items:nth-child(4){
    order: 1;
}