
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    font-size: 16px;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}

nav{
   height: 60px; 
   background: #3498db ;
}

.nav-flex {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    text-decoration: none;
    color: #fff;
}

ul.menu {
    width: 400px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
ul.menu li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

ul.menu li a:hover {
    border-bottom: 1px solid #fff;
    padding: 5px;
}

ul.menu li input {
    border: none;
    padding: 5px 10px;
}

ul.menu li button {
    border: none;
    background: none;
    cursor: pointer;
}
 ul.menu li button i {
     margin-left: 10px;
     color: #fff;
 } */

 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }
 html{
     font-family: 16px;
 }
 .container{
     max-width: 960px;
     margin: 0 auto;
 }

 nav {
     height: 60px;
     background: #3498db;
 }

 .nav-flex{
     height: 60px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.logo a{
     text-decoration: none;
     color: #fff;
 }
.logo a:hover{
    color: rgb(235, 235, 235) ;
}

 .menu {
     width: 400px;
     display: flex;
     justify-content: space-between;
     list-style: none;
 }

ul.menu li a {
    color:#fff;
    text-decoration: none;
    transition: 0.3s;
}
ul.menu li a:hover {
    padding: 5px;
    color: rgb(235, 235, 235);
    border-bottom: 2px solid rgb(235, 235, 235);    
}

ul.menu li input {
    border:none;
    padding: 5px 10px;
}
ul.menu li button {
    border: none;
    background: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}
ul.menu li button:hover {
    color: rgb(182, 182, 182);

}

